@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --main-body: #2f2f2f;
    --secondary-body: #3a3a3a;

    --main-text: #fff;
    --secondary-text: #c7c7c7;
    --main-font: "Alegreya", sans-serif;

    --green-main: #00ff22;
    --yellow-main: #f2e400;

    --surge-color: #890f33;
    --somebody-color: #faaf50;
    --chez-color: #ffe374;
    --esskay-color: #B80000;
    --josh-color: #072347;
}